.input {
  display: flex;
  flex-direction: column;
}

.input__title {
  margin: 24px 0 1px;
  font-size: 10px;
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
  color: #a0a0a0;
}

.input__text {
  padding: 7px 0 4px;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #e8e8e8;
  font-family: "Inter", Arial, sans-serif;
  background-color: #fff;
}

.input__text:focus {
  outline: none;
  border-bottom: 1px solid #3456f3;
}

.input__error {
  color: #ff3055;
}
