.aboutproject {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 112px 70px;
}

.aboutproject__title {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 23px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
  letter-spacing: calc(-1em / 25);
}

.aboutproject__line {
  width: 100%;
  height: 1px;
  background-color: #000;
}

.desc {
  display: flex;
  margin-top: 71px;
  gap: 52px;
}

.desc__column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.desc__title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
  letter-spacing: calc(-1em / 25);
}

.desc__subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Inter", Arial, sans-serif;
}

.timeline {
  display: flex;
  width: 100%;
  margin-top: 110px;
}

.timeline__title {
  margin: 0;
  text-align: center;
  padding: 10.5px 15px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
}

.timeline_color_green {
  flex-grow: 1;
}
.timeline_color_grey {
  flex-grow: 6;
}

.timeline__subtitle {
  margin: 0;
  text-align: center;
  margin-top: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  font-family: "Inter", Arial, sans-serif;
  color: #8b8b8b;
}

.timeline__title_color_green {
  color: #000;
  background-color: #2be080;
}

.timeline__title_color_grey {
  flex-grow: 4;
  color: #000;
  background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  .aboutproject {
    padding: 93px 49px;
  }

  .desc {
    gap: 37px;
  }

  .desc__subtitle {
    font-size: 12px;
    line-height: 18px;
  }

  .desc__column {
    gap: 22px;
  }

  .timeline {
    margin-top: 93px;
  }

  .timeline__title {
    padding: 10.5px 2px;
  }
}

@media screen and (max-width: 480px) {
  .aboutproject {
    padding: 70px 18px;
  }

  .aboutproject__title {
    font-size: 22px;
    line-height: 21.78px;
  }

  .desc {
    flex-direction: column;
    margin-top: 60px;
    gap: 56px;
  }

  .desc__title {
    font-size: 18px;
    line-height: 21px;
  }

  .desc__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .timeline {
    margin-top: 60px;
  }

  .timeline__title {
    padding: 11px 0;
    font-size: 11px;
    line-height: 13px;
  }

  .timeline_color_grey {
    flex-grow: 2.6;
  }

  .timeline__subtitle {
    margin-top: 10px;
    font-size: 11px;
    font-weight: 400;
    line-height: 12.74px;
    color: #a0a0a0;
  }
}

@media screen and (max-width: 320px) {
  .aboutproject {
    padding: 70px 18px;
  }

  .aboutproject__title {
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 21.78px;
  }
  .desc {
    margin-top: 62px;
    gap: 56px;
  }

  .desc__column {
    gap: 18px;
  }
}
