.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  padding: 18px 70px;
  margin: 0 auto;
  gap: 44px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 18px 50px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 18px 14px;
  }
}
