.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 112px 70px 100px;
}

.aboutme__profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 67px;
  gap: 49px;
}

.aboutme__info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.aboutme__title {
  margin: 0;
  margin-bottom: 18px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  font-family: "Inter", Arial, sans-serif;
  letter-spacing: calc(-1em / 25);
}

.aboutme__subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Inter", Arial, sans-serif;
}

.aboutme__subtitle_weight_bold {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.aboutme__desc {
  margin-top: 26px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Inter", Arial, sans-serif;
}

.aboutme__image {
  max-width: 270px;
  min-width: 217px;
  width: 100%;
  height: 327px;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
}

.aboutme__git {
  margin-top: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  .aboutme {
    padding: 96px 50px 92px;
  }

  .aboutme__title {
    margin-bottom: 3px;
    font-size: 40px;
    line-height: 40px;
  }

  .aboutme__image {
    min-width: 255px;
    height: 307px;
  }

  .aboutme__subtitle {
    margin-top: 12px;
    font-size: 12px;
    line-height: 18px;
  }

  .aboutme__profile {
    margin-top: 66px;
  }

  .aboutme__desc {
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 630px) {
  .aboutme__profile {
    flex-direction: column-reverse;
    margin-top: 63px;
    gap: 40px;
  }

  .aboutme__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .aboutme__subtitle:last-of-type {
    margin-bottom: 40px;
  }

  .aboutme__title {
    font-size: 30px;
    line-height: 36.31px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 468px) {
  .aboutme {
    padding: 70px 14px;
  }

  .aboutme__image {
    min-width: 292px;
    height: 352px;
  }

  .aboutme__desc {
    margin-bottom: 39px;
    font-size: 11px;
    line-height: 16px;
  }
}
